<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.douyin.autopay">
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="抖音支付拦截"
        android:icon="@mipmap/ic_launcher">
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="拦截抖音支付宝链接" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>
